body{
  background: url('../image/bg01.jpg') no-repeat center center/cover;

}
table{
	letter-spacing: 1.2px;
  margin: auto;
  padding: auto;

  line-height: 0.5rem;

  width: 90%;
  border-collapse: collapse;
  color: #fff;
  
 
}

td{
	text-align: center;
  font-size: 1.4rem;
}



button{
	border:none;
	background: #d9d9d9;
}

.table-container{
	height: 100vh;
}


@media only screen and (orientation: portrait){
	*{
		letter-spacing: 1px;
	}
}

thead{
  font-size: 1.8rem;
  
}

label{
  display: block;
  width: 100%;
  padding: 0.5rem;
  margin: auto;
  padding: auto;
  color: #fff;
  font-size: 1.5rem;
}
select, input{
  display: block;
  width: 100%;
  padding: 0.5rem;
  size: 1.5rem;
}